.m {
    margin-top: 100px;
}

.box {
    background-color: #34495e;
    display: block;
    margin: 100px auto;
    box-shadow: 1px 1px 15px 1px;
    padding: 10px 20px;
    border-radius: 10px;
}

form {
    width: 100%;
}

form input,
form button {
    width: 100%;
    font-size: 1em;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 3px;
    outline: none;
}

form button {
    width: 100%;
    font-size: 1em;
    display: block;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 3px;
    outline: none;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #e74c3c;
}

form input[type="submit"],
form button {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
}

.heading {
    text-align: center;
    color: white;
}

.hhead {
    font-family: 'Pacifico', cursive;
}

form a {
    margin-top: 5px;
    float: right;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.clearfix {
    clear: both;
}

.overflowTest {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
}

#cnav {
    background-color: #e74c3c!important;
}

.nav-link {
    color: white!important;
}