.m {
    margin-top: 100px;
}

.box {
    background-color: #ffffff;
    display: block;
    margin: 100px auto;
    box-shadow: 1px 1px 15px 1px;
    padding: 10px 20px;
    border-radius: 10px;
}

.mx-auto {
    margin-left: auto!important;
    margin-top: 50px;
}

.p-2 {
    padding: .5rem!important;
    border-radius: .25rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #51a5ff;
    background: linear-gradient(to right, #51a5ff, rgb(195, 231, 255));
}

.card {
    margin-top: 10px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .30rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    padding: 2rem;
    border-radius: .30rem;
}

form {
    width: 100%;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.card-link {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
}

.card-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2rem;
}

.btnb {
    font-size: 80%!important;
    border-radius: 5rem!important;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem!important;
    transition: all 0.2s;
}

.form-control {
    display: block!important;
    width: 100%!important;
    height: calc(2em + .80rem + 4px)!important;
    padding: .375rem .75rem!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #495057!important;
    background-color: #fff!important;
    background-clip: padding-box!important;
    border: 1px solid #ced4da!important;
    border-radius: 5rem!important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out!important;
}

form input,
form button {
    width: 100%;
    font-size: 1em;
    display: block;
    margin-top: 10px!important;
    margin-bottom: 5px;
    padding: 10px 3px;
    outline: none;
    border-radius: 5rem!important;
    border: 1px solid #ced4da!important;
}

form input {
    text-align: ;
}

form button {
    width: 100%;
    font-size: 1em;
    display: block;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 3px;
    outline: none;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #e74c3c;
}

form input[type="submit"],
form button {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-top: 5px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5rem!important;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    border-bottom-right-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}

.heading {
    text-align: center;
    color: white;
}

.hhead {
    font-family: 'Lobster', cursive;
}

form a {
    margin-top: 5px;
    float: right;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-top: 20;
}

a:link {
    color: rgb(255, 255, 255);
}

bc {
    color: #0062E6;
}

a:visited {
    color: white;
}

.clearfix {
    clear: none;
}

.overflowTest {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
}

#cnav {
    background-color: #E40E18!important;
}

.nav-link {
    color: white!important;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-google:hover {
    color: #fff;
    background-color: #e12717;
    border-color: #e6e6e6;
}

.btn-google:focus,
.btn-google.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-google.disabled,
.btn-google:disabled {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-google:not(:disabled):not(.disabled):active,
.btn-google:not(:disabled):not(.disabled).active,
.show>.btn-google.dropdown-toggle {
    color: #fff;
    background-color: #d62516;
    border-color: #dfdfdf;
}

.btn-google:not(:disabled):not(.disabled):active:focus,
.btn-google:not(:disabled):not(.disabled).active:focus,
.show>.btn-google.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #30497c;
    border-color: #e6e6e6;
}

.btn-facebook:focus,
.btn-facebook.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook.disabled,
.btn-facebook:disabled {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-facebook:not(:disabled):not(.disabled):active,
.btn-facebook:not(:disabled):not(.disabled).active,
.show>.btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4373;
    border-color: #dfdfdf;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus,
.btn-facebook:not(:disabled):not(.disabled).active:focus,
.show>.btn-facebook.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

div.ex3 {
    width: auto;
    height: 110px;
    overflow: auto;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 40px;
    padding: none;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 130px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.searchbar_mob {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 40px;
    padding: none;
}

.search_input_mob {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    caret-color: transparent;
    line-height: 40px;
    padding: 0 10px;
    width: 294px;
    caret-color: red;
}

.search_icon_mob {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.thumbnail {
    padding: 0px;
}