.m {
    margin-top: 100px;
}

.box {
    background-color: #34495e;
    display: block;
    margin: 100px auto;
    box-shadow: 1px 1px 15px 1px;
    padding: 10px 20px;
    border-radius: 10px;
}

form {
    width: 100%;
}

form input {
    width: 100%;
    font-size: 1em;
    display: block;
    border: none;
    margin-top: 10px;
    padding: 10px 3px;
    outline: none;
}

form input[type="submit"]:hover {
    background-color: #e74c3c;
}

form input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
}

.heading {
    text-align: center;
    color: white;
}

form a {
    margin-top: 5px;
    float: right;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.clearfix {
    clear: both;
}